/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bg-color: #fff1f7;
  --bg-image: url(../images/cover-image-light.png);
  --heading-color: #ffc2e6;
  --header-text-color: #353430;
  --section-heading-color: #353430;
  --article-title-color: #353430;
  --main-font: 'IBM Plex mono';
  --main-size: 18px;
  --h1-size: clamp(7.25rem, 5.7694rem + 6.3174vw, 9.8125rem);
  --bold-font-weight: bold;
  --regular-font-weight: normal;
  --accent-color: #ff8dcb;
  --decorated-color: #353430;
  --text-color: #353430;
  --visibility: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fff1f7;
    --bg-image: url(../images/cover-image-light.png);
    --heading-color: #ffc2e6;
    --header-text-color: #353430;
    --section-heading-color: #353430;
    --article-title-color: #353430;
    --main-font: 'IBM Plex mono';
    --main-size: 18px;
    --h1-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    --h1-size-desktop: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    --bold-font-weight: bold;
    --regular-font-weight: normal;
    --accent-color: #ff8dcb;
    --decorated-color: #353430;
    --decorated-color-border: rgba(53, 52, 48, 0.4);
    --text-color: #353430;
    --visibility: none;
  }
}