/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: var(--main-font, monospace);
  font-size: var(--main-size);
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  block-size: 100vh;
  min-height: 668px;
  padding: 10px;
  position: relative;
}

.decorated-zone::before {
  content: "";
  border-top: 1px solid var(--decorated-color);
  border-right: 1px solid var(--decorated-color);
  inline-size: 25px;
  block-size: 25px;
  justify-self: flex-end;
}

.decorated-zone::after {
  content: "";
  border-bottom: 1px solid var(--decorated-color);
  border-left: 1px solid var(--decorated-color);
  inline-size: 25px;
  block-size: 25px;
  align-self: self-end;
}

.decorated-element::before {
  content: "REC";
  position: absolute;
  display: var(--visibility);
  top: 10px;
  right: 38px;
  font-family: var(--main-font, monospace);
  font-size: var(--main-size);
  color: var(--accent-color);
  line-height: 25px;
}

.decorated-element::after {
  content: "";
  position: absolute;
  display: var(--visibility);
  top: 19px;
  right: 19px;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.header__theme-menu {
  justify-self: flex-end;
  color: var(--decorated-color);
  line-height: 18px;
  padding-block-end: 61px;
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  width: 70px;
  height: 26px;
  padding-block-end: 30px;
}

.header__theme-menu-button_active {
  border: 1px solid var(--decorated-color);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--decorated-color-border);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 0.5px;
}

.heading {
  font-size: var(--h1-size);
  font-weight: var(--bold-font-weight);
  color: var(--heading-color);
  line-height: 82.5%;
  text-shadow: 4px 4px 0 var(--accent-color);
  padding-block-end: 55px;
}

.title-decor {
  background-color: var(--accent-color);
}

.header__text {
  color: var(--header-text-color);
  font-size: var(--main-size);
  font-weight: var(--bold-font-weight);
  line-height: 23.4px;
  margin-block-end: 33px;
}

.content {
  padding: 40px 10px;
  display: grid;
  gap: 50px;
}

.section__heading {
  font-size: var(--main-size);
  font-weight: var(--bold-font-weight);
  color: var(--section-heading-color);
  line-height: 23.4px;
}

.article__title {
  color: var(--article-title-color);
  margin-block-start: 20px;
}

.article__subtitle {
  font-weight: var(--regular-font-weight);
}

.main__text {
  font-size: var(--main-size);
  font-weight: var(--regular-font-weight);
  color: var(--text-color);
  line-height: 23.4px;
  padding-block-start: 10px;
}

.text__links {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.text__links:hover {
  border-block-end: 1px solid var(--text-color);
  text-underline-offset: 4px;
}

.text__links:focus {
  outline: none;
}

.text__links:focus-visible {
  border: 1px solid var(--text-color);
}

.gallery {
  display: grid;
  gap: 10px;
}

.gallery__title {
  color: var(--article-title-color);
  margin-block-end: 10px;
}

.gallery__image {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}

.footer {
  block-size: 100vh;
  min-height: 668px;
  padding: 10px;
  display: grid;
}

.footer__heading {
  text-shadow: 2px 2px 0 var(--accent-color);
  justify-self: center;
  align-self: center;
  padding: 0;
}

@media (width >= 768px) {
  .header {
    padding: 20px;
  }

  .decorated-element::before {
    top: 20px;
    right: 48px;
  }

  .decorated-element::after {
    top: 29px;
    right: 29px;
  }

  .header__theme-menu {
    padding-block-end: 170px;
  }

  .heading {
    margin-inline-start: -20px;
    padding-block-end: 160px;
  }

  .header__text {
    margin-inline-start: 364px;
    margin-block-end: 139px;
  }

  .content {
    padding: 40px 20px;
    gap: 60px;
  }

  .reasons {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
  }

  .section__heading {
    grid-area: 1 / 1 / 2 / 2;
    margin-block-start: 20px;
  }

  .reasons__cards {
    grid-area: 1 / 2 / 2 / 3;
  }

  .objects {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
  }

  .objects__cards {
    grid-area: 2 / 1 / 3 / 3;
  }

  .advice {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
  }

  .advice__cards {
    grid-area: 1 / 2 / 2 / 3;
  }

  .gallery {
    gap: 20px;
  }

  .gallery__title {
    margin-block-end: 15px;
  }

  .gallery__image:first-child {
    grid-area: 1 / 1 / 2 / 3;
  }

  .gallery__image:nth-child(2) {
    grid-area: 1 / 3 / 3 / 4;
  }

  .gallery__image:nth-child(3) {
    grid-area: 2 / 1 / 4 / 2;
  }

  .gallery__image:nth-child(4) {
    grid-area: 2 / 2 / 3 / 3;
  }

  .gallery__image:last-child {
    grid-area: 3 / 2 / 4 / 4;
  }

  .footer {
    padding: 40px 20px 0 20px;
  }

  .footer__heading {
    justify-self: center;
    align-self: center;
    margin: 0;
    padding: 0;
  }
}

@media (width >= 1024px) {
  .header__theme-menu-list {
    display: flex;
    gap: 10px;
    padding-inline-end: 377px;
  }

  .header__theme-menu-button {
    padding-block-start: 5px;
  }

  .header__theme-menu {
    margin-block-start: -150px;
  }

  .heading {
    font-size: var(--h1-size-desktop);
    align-self: center;
    padding-block-end: 120px;
  }

  .header__text {
    margin-inline-start: 495px;
    align-self: flex-start;
    margin-block-start: 0;
    margin-block-end: 87px;
  }

  .objects__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .footer {
    padding-block-end: 0;
  }

  .footer__heading {
    justify-self: center;
    align-self: center;
    margin: 0;
    padding: 0;
  }
}
